body{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    width: auto;
    height: 80px;
    display: flex;
    align-items: center;
}
.header-logo{
    padding-left: 20px;
}
.input-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
    display: block;
}