.tabs {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.tab {
    margin-top: 10px;
    padding: 20px 10px;
    padding-bottom: 0;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 20px;
}

.tab:first-child {
    margin-left: 0;
}

.tab.active {
    color: #ff5555;
}

.tab-underline {
    width: 100%;
    height: 2px;
    background-color:grey;
    margin-top: 0;
    margin-bottom: 50px;
}

.tab-content {
    display: none;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.tab-content.active {
    display: flex;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    padding: 0px 30px;
}
.item a{
    text-decoration: none;
}
.item a:hover{
    text-decoration: none;
}
.item-text{
    margin-top: 10px;
    text-align: left;
    width: 100%;
    color: black;
}

/*SOLD OUT*/
.item img {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.image-wrapper {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.soldout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 10;
    border-radius: 8px;
}