main {
    width: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/*ログインフォーム*/
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login h2 {
    padding: 30px 0 20px 0;
}

form p {
    margin-bottom: 5px;
}

form input {
    margin-top: 0;
}

.login-item__title {
    font-weight: bold;
}
.login-input {
    text-align: left;
    padding-left: 10px;
}
.login-item input {
    height: 30px;
    width: 580px;
}

/*ログインボタン*/
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
    display: block;
    color: white;
    outline: none;
    border: none;
    background-color: #ff5555;
    border-radius: 5px;
    padding: 10px 225px;
    margin-top: 100px;
    margin-bottom: 30px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 20px;
}

/*会員登録はこちら*/
.register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-button {
    text-decoration: none;
    color: blue;
}