.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100vh;
}

.profile h2 {
    margin-top: 75px;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-image-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.image-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
}

.image-text {
    font-size: 15px;
    color: #ff5555;
    margin-left: 30px;
    outline: auto;
    border-radius: 3px;
    padding: 5px 10px;
    font-weight: bold;
}

/*プロフィール保存要素*/
.upload-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.upload-item__title {
    font-weight: bold;
}

.upload-item p,
.upload-item input {
    margin: 0;
}

.upload-item input {
    margin-bottom: 25px;
}

.upload-input {
    width: 600px;
    height: 35px;
    padding-left: 10px;
}

/*更新ボタン*/
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

.upload-button {
    color: white;
    background-color: #ff5555;
    border: none;
    border-radius: 3px;
    padding: 15px 280px;
    font-weight: bold;
    font-size: 15px;
}