.purchase {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
    margin: 70px auto;
    box-sizing: border-box;
    height: 800px;
    gap: 80px;
}

.detail{
    width: 60%;
    height: 100%;
}

/*detail-1*/
.detail-1 {
    display: flex;
    align-items: flex-start;
    gap: 70px;
    padding-bottom: 50px;
}
.detail-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.detail-text h2{
    margin: 0;
    font-size: 35px;
}
.detail-price{
    margin: 0;
    margin-top: 10px;
    font-size: 30px;
}

.line{
    border: 1px solid black;
}

/*detail-2*/
.detail-title{
    font-weight: bold;
    padding-bottom: 30px;
    text-align: left;
    padding-left: 30px;
}
.detail-select{
    margin-left: 100px;
    width: 280px;
    height: 30px;
    margin-bottom: 50px;
}

/*detail-3*/
.address-title{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.detail-blue{
    display: block;
    padding-top: 14px;
    padding-right: 30px;
    color: blue;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
}
.address-content {
    margin: -10px 0 0 0;
    padding-left: 80px;
    font-weight: bold;
    padding-bottom: 50px;
    font-size: 18px;
}

/*price*/
.price {
    margin-left: 0;
    margin-top: -67px;
    width: 35%;
    height: 40%;
    text-align: center;
    padding-top: 55px;
}
.table{
    border:2px solid black;
    width: 100%;
    height: 83%;
    border-collapse: collapse;
}
.table tr{
    border-bottom: 2px solid black;
    justify-content: space-between;
    height: 60px;
}
.table-header{
    font-size: 20px;
    text-align: left;
    padding-left: 40px;
}
.table-data--price{
    font-size: 25px;
    text-align: right;
    padding-right: 70px;
}
.table-data {
    font-size: 20px;
    text-align: right;
    padding-right: 40px;
}
.table-data--2{
    font-size: 20px;
}

/*ボタン*/
.submit {
    display: inline-block;
    background-color: #ff5555;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 10px 160px;
    white-space: nowrap;
    width: auto;
    margin-top: 50px;
}

.input-error{
    position: relative;
    left: 100px;
    bottom: 55px;
}