.sell {
    text-align: center;
    width: 60%;
    height: 1500px;
    margin: 0 auto;
}
.sell h2{
    padding: 20px 0;
}
.sell-title{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-top: 15px;
}
.image-border {
    display: block;
    width: 100%;
    padding: 70px 0;
    border: 1px dashed #848484;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
}
.image-text {
    padding: 10px 20px;
    border: 3px solid #ff5555;
    color: #ff5555;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.image-sell {
    position: relative;
    bottom: 30px;
    margin: 0 auto;
    display: block;
    background-color: #f9f9f9;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.category h3,
.detail h3{
    padding-top: 35px;
    color:#848484;
    text-align: left;
    margin-bottom: 0;
    font-size: 25px;
}
.line{
    color: #848484;
    border:1px solid #848484;
    margin-bottom: 20px;
}

.category-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin:40px 0;
}

.category-item {
    padding: 5px 15px;
    border: 2px solid #ff5555;
    color: #ff5555;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.category-item.active {
    background-color: #ff5555;
    color: white;
    border-color: #ff5555;
}

/*状態*/
.select-box{
    width: 100%;
    padding: 12px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #848484;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 20px;
}

/*商品名と説明*/
.detail-box{
    margin: 30px auto;
}
.detail-box input{
    width: 100%;
    height: 30px;
}
.detail-box textarea{
    width: 100%;
    height: 100px;
}
.price-wrapper {
    position: relative;
    width: 98%;
}

.price-wrapper::before {
    content: "¥";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    color: #000;
    font-weight: bold;
}

.price-input {
    width: 100%;
    padding-left: 20px;
}

/*ボタン*/
.sell-button{
    margin: 30px 0;
    background-color: #ff5555;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 10px 363px;
}

.input-error{
    text-align: left;
}
.input-error__category{
    color: red;
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
    display: block;
    text-align: left;
    position: relative;
    bottom: 25px;
}